body {
    font-family: 'DFKai-sb', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

img {
    max-width: auto;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .right-align {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  button {
    margin-left: 5px;
  }
  #progress-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
  }
  
  #progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
  }